<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Past Bookings</h2>
    <% if (pastBookings.length > 0) { %> <% pastBookings.forEach(booking => { %>
    <div class="booking">
      <p>
        <strong>Booked By:</strong> <%= booking.userId.name %> (<%=
        booking.userId.email %>)
      </p>
      <p>
        <strong>Event Date:</strong> <%= booking.eventDate.toDateString() %>
      </p>
    </div>
    <% }); %> <% } else { %>
    <p>No past bookings to show.</p>
    <% } %>
  </body>
</html>
